/*:root
{
  --cdm-primary-background-color: black;
  --cdm-secondary-background-color: #404040;
  --cdm-primary-text-color: white;
  --cdm-secondary-text-color: #AAA;
  --cdm-transition-speed: .2s;
  --cdm-alert-color: red;
  --cdm-scrollbar-color: #CCC;
  --cdm-primary-button-color: #404040;
  --cdm-secondary-button-color: #606060 !important;
}*/

/* general */
html
{
  background-color: black !important;
}
body,
.ic-app-main-content,
.ic-Dashboard-header__layout,
.mobile-header-title,
.ic-app-header__main-navigation,
.ic-app-header__logomark,
.ic-app-header__menu-list-link.ic-app-header__menu-list-link--nav-toggle
{
  background-color: var(--cdm-primary-background-color) !important;
  color: var(--cdm-primary-text-color) !important;
}



/* nav menu icons and text */
li.ic-app-header__menu-list-item--active .menu-item__text
{
  color: var(--cdm-primary-background-color) !important;
}
li.ic-app-header__menu-list-item--active .menu-item-icon-container svg
{
  fill: var(--cdm-primary-background-color) !important;
}



/* dashboard header */
.ic-Dashboard-header__layout,
.mobile-header-title
{
  text-align: center !important;
}

/* dashboard cards */
.ic-DashboardCard__header_content,
.ic-DashboardCard
{
  background: var(--cdm-secondary-background-color) !important;
}
.ic-DashboardCard__header_content *
{
  color: var(--cdm-primary-text-color) !important;
}
.ic-DashboardCard__action-layout svg
{
  -webkit-transition: fill var(--cdm-transition-speed) !important;
  fill: var(--cdm-primary-text-color) !important;
}
.ic-DashboardCard__action .ic-DashboardCard__action-layout:hover svg
{
  fill: var(--cdm-secondary-text-color) !important;
}




/* scrollbar */
::-webkit-scrollbar
{
  width: 0.75em !important;
}
::-webkit-scrollbar-track
{
  background-color: var(--cdm-primary-background-color) !important;
}

::-webkit-scrollbar-thumb
{
  height: 100px;
  background-color: var(--cdm-scrollbar-color) !important;
  border-radius: 48px !important;
}




/* notification icon */
.ic-DashboardCard__action-badge
{
  background: var(--cdm-alert-color) !important;
}



/* buttons */
button
{
  background-color: var(--cdm-primary-button-color) !important;
  color: var(--cdm-primary-text-color) !important;
  border-radius: 48px !important;
  border: 2px solid white !important;
  -webkit-transition: background-color var(--cdm-transition-speed) !important;
  background: none !important;
}
button:hover
{
  background-color: var(--cdm-secondary-button-color) !important;
}
