.container {
    display: flex;
    flex-direction: row;
    max-width: 220px;
    font-size: 12px;
}

p, li, input, button {
    font-size: 12px;
}

.full-height {
    height: 100%;
    padding: 1px;
}

.centering {
    text-align: center;
}

.align-right {
    text-align: right;
}

.col-right {
    flex: 1;
}

.col-left {
    flex: 3;
}

.col-left > *, .col-right > * {
    margin: 0 auto;
}

.with-top-margin {
    margin-top: 1em;
}


