/* when adding theme options, don't remove this html CSS. Keep it as is */
:root {
    --canvas-primary-background-color: black;
    --canvas-primary-text-color: white;
    --canvas-primary-button-color: #303030;
    --canvas-secondary-button-color: #606060;
    --canvas-secondary-background-color: #606060;
}

/*
  Background and text colors
  Sets the default for all important elements, while trying to not-touch those elements that require their color to remain
  the same (like the color picker and dashboard cards)
  Note: using :not(class, class) (not(class or class)) is only supported on safari, so we have to use :not(class):not(class) (not class and not class) instead
 */
html,
body,
header,
.navigation-tray-container,
#content,
#content :not(.ic-DashboardCard__header_hero):not(.ic-DashboardCard__header-button):not(.ic-DashboardCard__header-button-bg):not(.icon-more):not(img):not(.al-hover-container):not(.fOyUs_bGBk):not(.ui-icon),
#content button:not(.ic-DashboardCard__header-button),
#breadcrumbs,
.ui-dialog,
.ui-dialog *,
#NicknameInput,
span[dir="ltr"],
span[dir="ltr"] :not(.ColorPicker__ColorBlock):not(.icon-check):not(.ColorPicker__ColorPreview):not(.fOyUs_bGBk):not(.bbhNB_eYKj),
#right-side,
.ctf-container,
.ctf-container :not(.ctf-emoji-button) {
    background: var(--canvas-primary-background-color) !important;
    background-color: var(--canvas-primary-background-color) !important;
    color: var(--canvas-primary-text-color) !important;
}

/*
  Set the background color of the logo in the top-left
 */
a.ic-app-header__logomark {
    background-color: var(--canvas-primary-background-color) !important;
}

/*
  Set the text color of all hyperlinks, their children, and some elements that act as hyperlinks but are really just buttons
 */
/* All hyperlinks */
a,
    /* links on right-hand side */
.right-side-wrapper a,
    /* hamburger icon of navigation menu on left-hand side */
.icon-hamburger,
    /* Some icons, specifically those on the "grades" page */
.standalone-icon::before {
    color: var(--canvas-primary-text-color) !important;
}

/*
  Set the hovering behaviour of all hyperlinks, all children of hyperlinks, and hyperlinks that ignore this rule
 */
a:hover,
.right-side-wrapper a:hover,
    /* The text in the button below the todo sidebar */
button:hover span {
    color: var(--canvas-primary-text-color) !important;
    text-decoration: underline !important;;
    text-decoration-color: var(--canvas-primary-text-color) !important;;
}

/* Set background color of "log out" button and additional navigation buttons on the right side */
.tray-with-space-for-global-nav form button span,
.btn.button-sidebar-wide {
    background-color: var(--canvas-primary-background-color) !important;
}

/*
    Set active list-view item background color
 */
.list-view .section .active {
    background-color: var(--canvas-secondary-background-color) !important;
}

/* To fix search button on the discussions page */
.discussions-v2_wrapper span > span > span {
    background: none !important;
}

/*
  Align all the text in headers, the dashboard header and todo-lists to the center
 */
header,
.ic-Dashboard-header__layout,
h2.todo-list-header {
    text-align: center !important;
}

/*
  Center text ("Recent feedback") by expanding it to 100% and centering the text
 */
#right-side .shared-space h2 {
    width: 100% !important;
    text-align: center !important;
}

/*
  Recolor button "View Grades", color picker and one other element
 */
#right-side a.Button.button-sidebar-wide,
#ColorPicker__Apply,
#right-side-wrapper button {
    background-color: var(--canvas-primary-button-color);
    color: var(--canvas-primary-text-color);
    text-align: center;
    border: 2px solid white;
    transition: background-color .2s;
}

/*
  Adjust the background color of the button, color picker and all right-hand side buttons
 */
#right-side a.Button.button-sidebar-wide:hover,
#ColorPicker__Apply:hover,
#right-side-wrapper button:hover {
    background-color: var(--canvas-secondary-button-color);
}

/*
  Make SVG logos the primary text color
 */
svg path {
    fill: var(--canvas-primary-text-color);
}

/*
  Make the active SVG (in the left-hand side navigation bar) the correct, inverted color
 */
.ic-app-header__menu-list-item--active a div svg path {
    fill: var(--canvas-primary-background-color);
}

/*
  Set the background color of each "dashboard card"
 */

.ic-DashboardCard,
.ic-DashboardCard__header_content {
    background: var(--canvas-primary-button-color) !important;
}

.fOyUs_bGBk.fOyUs_dnJm.fOyUs_tIxX.fOyUs_EMjX.fOyUs_kXoP.fOyUs_UeJS.fOyUs_bxuL.dqmEK_caGd
{
    -webkit-filter: invert(100%) hue-rotate(180deg);
}


/*!* weird shit going on here with the color picker menu on dashboard - the close button inverts whenever the Cancel button isn't and vice versa *!*/
span.fQfxa_eoCh svg,
.esvoZ_bGBk.esvoZ_drOs.esvoZ_eXrk.cGqzL_bGBk.DashboardCardMenu__MovementIcon,
#ColorPicker__Apply,
.ToDoSidebarItem__Close span button
{
    -webkit-filter: invert(100%) hue-rotate(180deg);
}
